In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
A-

#MongoDB:

MongoDB is a popular open-source NoSQL (non-relational) database management system that stores data in a flexible, JSON-like format called BSON (Binary JSON).
It is designed to handle large amounts of unstructured or semi-structured data.
MongoDB is known for its scalability, flexibility, and ability to handle diverse types of data.

#Non-Relational Databases (NoSQL):

Non-relational databases, often referred to as NoSQL databases, are a category of database systems that do not use the traditional relational database management system (RDBMS) model.
In NoSQL databases, data is often stored in formats such as key-value pairs, wide-column stores, document-oriented databases, or graph databases, depending on the specific type of NoSQL database.

#Scenarios where MongoDB is Preferred over SQL Databases:

#Flexible Schema:
MongoDB's document-oriented data model allows for a flexible schema, meaning that different documents in the same collection can have different fields.

#Scalability:
MongoDB is designed for horizontal scalability, allowing you to distribute data across multiple servers or clusters. 

#Complex, Hierarchical Data:
MongoDB is effective in handling complex and nested data structures. Documents can contain arrays and other documents, allowing for the representation of hierarchical relationships.

#Real-time Applications:
MongoDB is well-suited for real-time applications and use cases where quick read and write operations are essential.

In [ ]:
Q2. State and Explain the features of MongoDB.

A-
#Document-Oriented:
MongoDB stores data in flexible, JSON-like BSON (Binary JSON) documents. Each document can have a different structure, allowing for a dynamic and schema-less data model.

#Schema Flexibility:
MongoDB's schema is dynamic, allowing documents in the same collection to have different fields.

#Query Language:
MongoDB supports a rich and expressive query language, including support for embedded documents and arrays.

#Replication:
MongoDB supports replica sets, which provide data redundancy and high availability. 

#Sharding:
MongoDB supports horizontal scaling through sharding. Sharding distributes data across multiple servers or clusters, allowing MongoDB to handle large volumes of data and high traffic loads.

#Replication:
MongoDB supports replica sets, which provide data redundancy and high availability.

In [ ]:
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
(ans of que 3,4,5 are written bellow)

In [34]:

#Connec tp monodb
import pymongo
Client= pymongo.MongoClient("mongodb+srv://prachiti:prachiti18@cluster0.wtaeron.mongodb.net/?retryWrites=true&w=majority")
db=Client.test

In [35]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [36]:
db

Database(MongoClient(host=['ac-hsbxa6w-shard-00-00.wtaeron.mongodb.net:27017', 'ac-hsbxa6w-shard-00-01.wtaeron.mongodb.net:27017', 'ac-hsbxa6w-shard-00-02.wtaeron.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-18mlvn-shard-0', tls=True), 'test')

In [37]:
Client= pymongo.MongoClient("mongodb+srv://prachiti:prachiti18@cluster0.wtaeron.mongodb.net/?retryWrites=true&w=majority")

In [38]:
coll_record= db['my_record']

In [39]:
db = Client['record']

In [40]:
data= {'name':'prachiti',
       'roll': 321,
       'class': 'Msc.Cs',
       'Div':'A'}

In [41]:
coll_record.insert_one(data)

InsertOneResult(ObjectId('659e49c2fc487375763b756c'), acknowledged=True)

In [42]:
data1= {'name':'aainai',
       'roll': 325,
       'class': 'Msc.it',
       'Div':'b'}

In [43]:
coll_record.insert_one(data1)

InsertOneResult(ObjectId('659e49c4fc487375763b756d'), acknowledged=True)

In [44]:
data2 = [
    {'name':'lata','address': 'Bhutan'},
    {'name':'mata','address': 'anaa'},
    {'name':'daa','address': 'anaa'},
    {'name':'seema','address':'Ladakh'}
]

In [45]:
coll_record.insert_many(data2)

InsertManyResult([ObjectId('659e49c4fc487375763b756e'), ObjectId('659e49c4fc487375763b756f'), ObjectId('659e49c4fc487375763b7570'), ObjectId('659e49c4fc487375763b7571')], acknowledged=True)

In [46]:
coll_record.find_one()

{'_id': ObjectId('659d6aa0b8c8d193a8fa1cc9'),
 'name': 'aainai',
 'roll': 325,
 'class': 'Msc.it',
 'Div': 'b'}

In [47]:
for i in coll_record.find():
    print(i)

{'_id': ObjectId('659d6aa0b8c8d193a8fa1cc9'), 'name': 'aainai', 'roll': 325, 'class': 'Msc.it', 'Div': 'b'}
{'_id': ObjectId('659d6b12b8c8d193a8fa1cca'), 'name': 'aainai', 'roll': 325, 'class': 'Msc.it', 'Div': 'b'}
{'_id': ObjectId('659d6c35b8c8d193a8fa1ccd'), 'name': 'prachiti', 'roll': 321, 'class': 'Msc.Cs', 'Div': 'A'}
{'_id': ObjectId('659d6c36b8c8d193a8fa1cce'), 'name': 'aainai', 'roll': 325, 'class': 'Msc.it', 'Div': 'b'}
{'_id': ObjectId('659d6c5ab8c8d193a8fa1cd1'), 'name': 'prachiti', 'roll': 321, 'class': 'Msc.Cs', 'Div': 'A'}
{'_id': ObjectId('659d6c5db8c8d193a8fa1cd2'), 'name': 'aainai', 'roll': 325, 'class': 'Msc.it', 'Div': 'b'}
{'_id': ObjectId('659e45c0fc487375763b755c'), 'name': 'prachiti', 'roll': 321, 'class': 'Msc.Cs', 'Div': 'A'}
{'_id': ObjectId('659e45c1fc487375763b755d'), 'name': 'aainai', 'roll': 325, 'class': 'Msc.it', 'Div': 'b'}
{'_id': ObjectId('659e45c3fc487375763b755e'), 'name': 'lata', 'address': 'Bhutan'}
{'_id': ObjectId('659e45c3fc487375763b755f'), 'name': 'mata', 'address': 'anaa'}
{'_id': ObjectId('659e45c3fc487375763b7560'), 'name': 'daa', 'address': 'anaa'}
{'_id': ObjectId('659e45c3fc487375763b7561'), 'name': 'seema', 'address': 'Ladakh'}
{'_id': ObjectId('659e4920fc487375763b7562'), 'name': 'Alice', 'age': 25, 'score': 85}
{'_id': ObjectId('659e4920fc487375763b7563'), 'name': 'Bob', 'age': 22, 'score': 90}
{'_id': ObjectId('659e4920fc487375763b7564'), 'name': 'Charlie', ' age': 28, 'score': 78}
{'_id': ObjectId('659e4920fc487375763b7565'), ' name': 'David', 'age': 20, 'score': 95}
{'_id': ObjectId('659e4955fc487375763b7566'), 'name': 'Alice', 'age': 25, 'score': 85}
{'_id': ObjectId('659e4955fc487375763b7567'), 'name': 'Bob', 'age': 22, 'score': 90}
{'_id': ObjectId('659e4955fc487375763b7568'), 'name': 'Charlie', ' age': 28, 'score': 78}
{'_id': ObjectId('659e4955fc487375763b7569'), ' name': 'David', 'age': 20, 'score': 95}
{'_id': ObjectId('659e49c2fc487375763b756c'), 'name': 'prachiti', 'roll': 321, 'class': 'Msc.Cs', 'Div': 'A'}
{'_id': ObjectId('659e49c4fc487375763b756d'), 'name': 'aainai', 'roll': 325, 'class': 'Msc.it', 'Div': 'b'}
{'_id': ObjectId('659e49c4fc487375763b756e'), 'name': 'lata', 'address': 'Bhutan'}
{'_id': ObjectId('659e49c4fc487375763b756f'), 'name': 'mata', 'address': 'anaa'}
{'_id': ObjectId('659e49c4fc487375763b7570'), 'name': 'daa', 'address': 'anaa'}
{'_id': ObjectId('659e49c4fc487375763b7571'), 'name': 'seema', 'address': 'Ladakh'}

In [48]:
for i in coll_record.find({'name':'lata'}):
    print(i)

{'_id': ObjectId('659e45c3fc487375763b755e'), 'name': 'lata', 'address': 'Bhutan'}
{'_id': ObjectId('659e49c4fc487375763b756e'), 'name': 'lata', 'address': 'Bhutan'}

In [ ]:
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
A-
In MongoDB, the sort() method is used to sort the documents in a collection based on specified criteria. The sort() method takes a document that specifies the fields to sort on and the order of sorting (ascending or descending). It is commonly used with the find() method to retrieve documents in a specific order.

In [50]:
data3=[
  { 'name': "Alice",'age': 25, 'score': 85 },
  { 'name': "Bob",'age': 22, 'score': 90 },
  { 'name': "Charlie",' age': 28, 'score': 78 },
  {' name': "David", 'age': 20, 'score': 95 }
]

In [51]:
coll_record.insert_many(data3)

InsertManyResult([ObjectId('659e49c5fc487375763b7572'), ObjectId('659e49c5fc487375763b7573'), ObjectId('659e49c5fc487375763b7574'), ObjectId('659e49c5fc487375763b7575')], acknowledged=True)

In [52]:
db.coll_record.find().sort({ 'score': -1 })

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.
A-

In [ ]:
delete_one() Method:
Purpose: Deletes a single document that matches the specified filter criteria.

In [53]:
db.coll_record.delete_one({' name': "Alice" })

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000028'), 'opTime': {'ts': Timestamp(1704872532, 6), 't': 40}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1704872532, 6), 'signature': {'hash': b'~ u\x8d\x91!\xa4\xac/C\xbdM\x80Y\x07v\x90\xb3\xe3\xb2', 'keyId': 7276021817465110534}}, 'operationTime': Timestamp(1704872532, 6)}, acknowledged=True)

In [ ]:
delete_many() Method:
Purpose: Deletes multiple documents that match the specified filter criteria.

In [56]:
db.coll_record.delete_many({ 'score': 22})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000028'), 'opTime': {'ts': Timestamp(1704872691, 19), 't': 40}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1704872691, 19), 'signature': {'hash': b'\xeb\xfe`\xa9H\xea(\x9an\xf4\xb0\xa4\x02\r\xc8O\x94\xc3\xba\xb1', 'keyId': 7276021817465110534}}, 'operationTime': Timestamp(1704872691, 19)}, acknowledged=True)

In [ ]:
drop() Method:
Purpose: Drops the entire collection, removing all documents and the collection itself.

In [59]:
db.coll_record.drop()